.list .header .logo svg { fill: #000; }
.list .header .btn { border: 1px solid #000; color: #000; }
 
.modal-content .btn { color: #000 !important; } 
 
.tab button { 
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s; 
  background: #FFFFFF;
  border: 1px solid #A1A1A1;
  box-sizing: border-box;
  border-radius: 20px;
}

.tab button:hover {
  
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px; 
}

.btn-buy {
	background: linear-gradient(248.38deg, #C19C18 -2.25%, #FFE381 59.72%, #BDA348 92.93%);
	border-radius: 20px;
}

.text-center {
    text-align: center;
}

.shadow { 
	box-shadow: -20px 0px 60px rgba(0, 0, 0, 0.15);
    height: 100%;
}

.lcircle {
    overflow: hidden;
	border-radius: 100% 0 0 100%;
    box-shadow: -20px 0px 60px rgba(0, 0, 0, .25); 
}

.dlex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-md-5 {
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-7 {
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
}

.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}